<h1>
  <span class="fas fa-th"></span> Issues
</h1>

<div id="issue-list">
{{#if viewData.issues.length }}
    {{#each viewData.issues}}
    
    {{#if this.state}}
    <div id="issue{{this.id}}">
    <div class="containerlamp">
      <div class="led-box">
        <div class="led-green"></div>
  </div>
  {{else}}
  <div id="issue{{this.id}}">
      <div class="containerlamp">
      <div class="led-box">
        <div class="led-red"></div>
  </div>
  {{/if}}
      <div class="issue-box">
        <div class="issuecontent">
          {{#if this.state}}
            <form action="./remove" method="post">
              <button name="value" value="{{this.iid}}" type="submit" class="btn btn-outline-danger">close issue</button>
            </form>
            {{/if}}
          <img src={{this.avatar}} />
            <p class="issue-id">Issue id: {{this.id}}</p>
            <p class="issue-title">{{this.title}}</p>
            <p class="issue-text">{{this.description}}</p>

        {{#if this.state}}
        <div class="comment-container">
          <form action="./comment" method="post">
            <textarea rows="2" type="text" class="form-control" name="text" text="{{value}}" placeholder="Comment" required="required" autofocus="autofocus"></textarea>
            <button type="submit" name="value" value="{{this.iid}}" text="{{value}}" class="comment-btn fas fa-paper-plane"></button>
          </form>
          </div>
        {{/if}}


          </div>
        </div>
       </div>
      </div>
    {{/each}}
{{/if}}
</div>

<template id="git-template"> 
  <div id="issue-list">
    <div id="issue\{{this.id}}">
            \{{#if this.state}}
              <div class="containerlamp">
                <div class="led-box">
                  <div class="led-green"></div>
              </div>
            \{{else}}
                <div class="containerlamp">
                  <div class="led-box">
                    <div class="led-red"></div>
            </div>
            \{{/if}}
            <div class="issuecontent">
              \{{#if this.state}}
                <form action="./remove" method="post">
                  <button name="value" value="\{{this.iid}}" type="submit" class="btn btn-outline-danger">close issue</button>
                </form>
              \{{/if}}
              <img src=\{{this.avatar}} />
                <p class="issue-id">Issue id: \{{this.id}}</p>
                <p class="issue-title">\{{this.title}}</p>
                <p class="issue-text">\{{this.description}}</p>

              \{{#if this.state}}
                <form action="./comment" method="post">
                  {{!-- <textarea rows="2" type="text" class="form-control" name="value" value="{{value}}" placeholder="Comment" required="required" autofocus="autofocus"></textarea> --}}
                  <button type="submit" name="value" value="\{{this.iid}}" class="btn btn-lg btn-info">Create</button>
                </form>
              \{{/if}}

            </div>
          </div>
      </div>
</template>
